/* Font Face */
@font-face {
  font-family: 'TradeGothicLTStd';
  src: url("../../fonts/TradeGothicLTStd.otf") format("woff"); }

@font-face {
  font-family: 'TradeGothicLTStd-Bold';
  src: url("../../fonts/TradeGothicLTStd-Bd2.otf") format("woff"); }

@font-face {
  font-family: 'TradeGothicLTStd-Light';
  src: url("../../fonts/TradeGothicLTStd-Light.otf") format("woff"); }

#banner-top {
  background: url("../../images/home-banner.png") center no-repeat;
  background-size: cover;
  height: 100vh; }
  #banner-top .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25); }
  #banner-top #promo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 100;
    padding: 20px 24px;
    background: rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    color: #FFF; }
    #banner-top #promo-text .main-text {
      font-family: 'TradeGothicLTStd-Bold';
      font-size: 36px; }

#personal-trip-planner #instruction {
  font-size: 16px;
  text-transform: uppercase;
  margin: 30px 0; }

#personal-trip-planner .block {
  padding: 60px 0;
  letter-spacing: 0.5px; }
  #personal-trip-planner .block .headline {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px; }
  #personal-trip-planner .block .box {
    margin-bottom: 30px; }
    #personal-trip-planner .block .box .question {
      padding: 20px;
      background: #FAFAFA;
      border-bottom: 1px solid #DDD;
      font-size: 18px;
      line-height: 20px; }
    #personal-trip-planner .block .box .choices {
      background: #FAFAFA; }
      #personal-trip-planner .block .box .choices .choice {
        padding: 14px 20px;
        border-bottom: 1px solid #EEE;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        cursor: pointer; }
        #personal-trip-planner .block .box .choices .choice:last-child {
          border: 0; }
        #personal-trip-planner .block .box .choices .choice:hover {
          background: #F68706;
          color: #FFF; }
  #personal-trip-planner .block #additional-comment textarea {
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    border: 0; }
  #personal-trip-planner .block:nth-child(even) {
    background: #EEE; }
    #personal-trip-planner .block:nth-child(even) .box .question {
      background: #FFF;
      border-bottom: 1px solid #DDD; }
    #personal-trip-planner .block:nth-child(even) .box .choices {
      background: #FFF; }
      #personal-trip-planner .block:nth-child(even) .box .choices .choice {
        border-bottom: 1px solid #EEE; }
  #personal-trip-planner .block form {
    text-align: center; }
    #personal-trip-planner .block form input {
      width: 300px;
      border: 0;
      padding: 12px 10px 8px;
      background: #EEE;
      font-size: 14px;
      line-height: 16px; }
    #personal-trip-planner .block form button {
      width: 300px;
      padding: 12px 10px 8px;
      background: #F68706;
      border: 0;
      color: #FFF; }
