/* Font Face */
@font-face {
  font-family: 'TradeGothicLTStd';
  src: url("../../fonts/TradeGothicLTStd.otf") format("woff"); }

@font-face {
  font-family: 'TradeGothicLTStd-Bold';
  src: url("../../fonts/TradeGothicLTStd-Bd2.otf") format("woff"); }

@font-face {
  font-family: 'TradeGothicLTStd-Light';
  src: url("../../fonts/TradeGothicLTStd-Light.otf") format("woff"); }

footer {
  background: #000;
  color: #FFF; }
  footer .container {
    padding: 30px 0; }

/* Font Face */
@font-face {
  font-family: 'TradeGothicLTStd';
  src: url("../../fonts/TradeGothicLTStd.otf") format("woff"); }

@font-face {
  font-family: 'TradeGothicLTStd-Bold';
  src: url("../../fonts/TradeGothicLTStd-Bd2.otf") format("woff"); }

@font-face {
  font-family: 'TradeGothicLTStd-Light';
  src: url("../../fonts/TradeGothicLTStd-Light.otf") format("woff"); }

body {
  margin: 0;
  font-family: 'TradeGothicLTStd', Helvetica, sans-serif;
  font-size: 14px;
  color: #000; }

a {
  color: #FFF;
  transition: color 0.2s; }
  a:hover, a:focus {
    color: #F68706;
    text-decoration: none; }

.strong {
  font-family: 'TradeGothicLTStd-Bold'; }

#ui-main {
  min-height: 650px; }

/* Font Face */
@font-face {
  font-family: 'TradeGothicLTStd';
  src: url("../../fonts/TradeGothicLTStd.otf") format("woff"); }

@font-face {
  font-family: 'TradeGothicLTStd-Bold';
  src: url("../../fonts/TradeGothicLTStd-Bd2.otf") format("woff"); }

@font-face {
  font-family: 'TradeGothicLTStd-Light';
  src: url("../../fonts/TradeGothicLTStd-Light.otf") format("woff"); }

header {
  position: fixed;
  width: 100%;
  z-index: 1000; }
  header #top-bar {
    background: #000;
    font-size: 12px;
    line-height: 12px;
    color: #FFF; }
    header #top-bar .container > div {
      display: inline-block;
      padding: 10px 14px; }
    header #top-bar .container #lang-bar {
      background: #333; }
  header #main-header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%); }
    header #main-header .container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-align: center;
      align-items: center;
      padding: 40px 0 60px;
      transition: all 0.4s; }
      header #main-header .container .menu-item {
        padding: 14px 20px;
        font-family: 'TradeGothicLTStd-Light';
        font-size: 16px;
        letter-spacing: 1.5px;
        transition: all 0.4s; }
      header #main-header .container #logo {
        font-family: 'TradeGothicLTStd-Bold';
        font-size: 48px;
        letter-spacing: 7px; }
    header #main-header.small .container {
      padding: 20px 0 30px; }
      header #main-header.small .container .menu-item {
        font-size: 14px; }
      header #main-header.small .container #logo {
        font-size: 32px; }
  header a {
    color: #FFF; }

/*# sourceMappingURL=main.css.map */
