$primary-color: #F68706;
$primary-text-dark: #000;
$primary-text-light: #FFF;

$primary-link: #FFF;
$primary-link-hover: $primary-color;

/* Font Face */
@font-face {
  font-family: 'TradeGothicLTStd';
  src: url('../../fonts/TradeGothicLTStd.otf') format('woff');
}

@font-face {
  font-family: 'TradeGothicLTStd-Bold';
  src: url('../../fonts/TradeGothicLTStd-Bd2.otf') format('woff');
}

@font-face {
  font-family: 'TradeGothicLTStd-Light';
  src: url('../../fonts/TradeGothicLTStd-Light.otf') format('woff');
}
