@import '_constant.scss';

body{
  margin: 0;
  font-family: 'TradeGothicLTStd', Helvetica, sans-serif;
  font-size: 14px;
  color: $primary-text-dark;
}

a{
  color: $primary-link;
  transition: color 0.2s;

  &:hover,
  &:focus{
    color: $primary-link-hover;
    text-decoration: none;
  }
}

.strong{
  font-family: 'TradeGothicLTStd-Bold';
}

#ui-main{
  min-height: 650px;
}
