@import '_constant.scss';

header{
  position: fixed;
  width: 100%;
  z-index: 1000;

  #top-bar{
    background: #000;
    font-size: 12px;
    line-height: 12px;
    color: $primary-text-light;

    .container{
      > div{
        display: inline-block;
        padding: 10px 14px;
      }

      #lang-bar{
        background: #333;
      }
    }
  }

  #main-header{
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);

    .container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 40px 0 60px;
      transition: all 0.4s;

      .menu-item{
        padding: 14px 20px;
        font-family: 'TradeGothicLTStd-Light';
        font-size: 16px;
        letter-spacing: 1.5px;
        transition: all 0.4s;
      }

      #logo{
        font-family: 'TradeGothicLTStd-Bold';
        font-size: 48px;
        letter-spacing: 7px;
      }
    }

    &.small{
      .container{
        padding: 20px 0 30px;

        .menu-item{
          font-size: 14px;
        }

        #logo{
          font-size: 32px;
        }
      }
    }
  }

  a{
    color: #FFF;
  }
}
