@import 'global/_constant.scss';

#banner-top{
  background: url('../../images/home-banner.png') center no-repeat;
  background-size: cover;
  height: 100vh;

  .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);
  }

  #promo-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    padding: 20px 24px;
    background: rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    color: $primary-text-light;

    .main-text{
      font-family: 'TradeGothicLTStd-Bold';
      font-size: 36px;
    }
  }
}

#personal-trip-planner{
  #instruction{
    font-size: 16px;
    text-transform: uppercase;
    margin: 30px 0;
  }

  .block{
    padding: 60px 0;
    letter-spacing: 0.5px;

    .headline{
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 1px;
    }

    .box{
      margin-bottom: 30px;
      .question{
        padding: 20px;
        background: #FAFAFA;
        border-bottom: 1px solid #DDD;
        font-size: 18px;
        line-height: 20px;
      }

      .choices{
        background: #FAFAFA;

        .choice{
          padding: 14px 20px;
          border-bottom: 1px solid #EEE;
          transition: all 0.2s;
          cursor: pointer;

          &:last-child{
            border: 0;
          }

          &:hover{
            background: $primary-color;
            color: $primary-text-light;
          }
        }
      }
    }

    #additional-comment{
      textarea{
        width: 100%;
        margin-top: 10px;
        padding: 20px;
        border: 0;
      }
    }

    &:nth-child(even){
      background: #EEE;

      .box{
        .question{
          background: #FFF;
          border-bottom: 1px solid #DDD;
        }

        .choices{
          background: #FFF;

          .choice{
            border-bottom: 1px solid #EEE;
          }
        }
      }
    }

    form{
      text-align: center;

      input{
        width: 300px;
        border: 0;
        padding: 12px 10px 8px;
        background: #EEE;
        font-size: 14px;
        line-height: 16px;
      }

      button{
        width: 300px;
        padding: 12px 10px 8px;
        background: $primary-color;
        border: 0;
        color: $primary-text-light;
      }
    }
  }
}
